{% set title="Main Page" %}
{% set lang="en" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

<div class="container">
    <h2>hello, <span>world</span> 
    </h2>
</div>
<nav class="menu">
    <ul class="menu-items">
        <li class="menu-items__item">
            <a href="#" class="menu-items__link">link 1</a>
        </li>
        <li class="active menu-items__item menu-items__item_big">
            <a href="#" class="menu-items__link">link 2</a>
        </li>
    </ul>
</nav>

 
{% include 'parts/_foot.html' %}